@model IEnumerable<SeniorProject.Models.Product>;
@using SeniorProject.Models;

@{
   List<Option> options = new List<Option> {
    new Option {Value = "createdDesc", Text="Newest to Oldest"},
    new Option {Value = "priceDesc", Text="Price Highest to Lowest"},
    new Option {Value = "priceAsc", Text="Price Lowest to Highest"},
    new Option {Value = "createdAsc", Text="Oldest to Newest"}
    };
    SelectList selectList = new SelectList(options, "Value", "Text");

}

@using (Html.BeginForm())
{
@Html.DropDownList("value", selectList as SelectList, "Order By", htmlAttributes: new { onchange = "this.form.submit()" })
}
<div>Want a customized blanket? Fill out a form <a asp-controller="Requests" asp-action="CustomerCreate">here</a>!</div>
<div class="row product-grid">
    <div class="col-lg-12 col-sm-12">
        <div class="row product-grid">
@foreach (var item in Model) {
        <div class="product-container col-sm-3 flex-sm">
            <div class="col-sm-12">
                <a asp-action="Show" asp-route-id="@item.Id"><img class ="img-fluid product-img" src='~/Assets/@Html.DisplayFor(modelItem => item.Img)'>
                </a>
            </div>
            <div class="col-sm-12">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="col-sm-12">
                @Html.DisplayFor(modelItem => item.Color)
            </div>
            <div class="col-sm-12">
                $@Html.DisplayFor(modelItem => item.Price)
            </div>
     </div>
}
</div>
</div>
</div>