@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center">
<img class="img-fluid img-style" src="~/Assets/creamPink.jpg">
<div class="decorative-div">
    <p class='homeIntro'>Hand crocheted blankets made from 100% cotton yarn. Beautiful for any room!</p>
</div>
</div>


