
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.main-color{
  color: #638880;
  text-decoration: none;
  font-family: "cutive mono", mono;
  font-size: 3em;
}

.header-color{
  background-color: #E7E3F1;
}

.main-color:hover{
 color: #AFA3D5;
}
.nav-color{
  color: #638880;
}
.nav-color:hover{
  color: #AFA3D5;
}


.img-style{
  display: block;
  z-index: 1;
  /* margin: auto; */
  width: 25vw;
  /* border: 2px solid black; */
  height: auto;
  /* border-radius:50% 50% 0px 0px;
  -webkit-border-radius:50% 50% 0px 0px;
  -moz-border-radius:50% 50% 0px 0px;
  -ms-border-radius:50% 50% 0px 0px;
  -o-border-radius:50% 50% 0px 0px; */
}

.decorative-div{
  /* border-radius:50% 50% 0px 0px; */
  background-color: #F1BFC0;
  width: 25vw;
  height: auto;
  display: block;
  /* align-self: end; */
  /* margin-left: -50px; */
  align-content: center;
  text-align: center;
}

.homeIntro{
  color: #677D75;
  font-family: "Montserrat";
  text-align: center;
  padding: 15px;
  /* width: 60%; */
  margin: 0;
  /* margin-left: 60px; */
  font-size: 2vw;
  font-family: "cutive mono", mono;
}

.product-img{
  width: 200px;
  height: auto;
}

.product-container{
  background-color:#e7e3f1;
  color: #2e2c39;
  font-family: "Montserrat";
  margin: 20px;
  font-size: 1.25em;
  text-align: center;
  padding-top: 10px;
}

.singleProduct{
  display: flex;
  justify-content: space-evenly;
  width: 55vw;
  color: #2e2c39;
  font-family: "Montserrat";
  text-align: center;
  margin: auto;
}

.add-to-cart{
  background-color: #f1bfc0;
  color: #2e2c39;
  padding: 10px;
  text-decoration: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.cartProduct{
  color: #2e2c39;
  margin: auto;
  margin-bottom: 20px;
  border-bottom: 2px solid RGBA(46, 44, 57, .25);
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding-bottom: 20px;
  width: 75vw;
}

.cart-img{
  width: 100px;
  height: auto;
}

.cart-total{
  text-align: right;
  margin-right: 60px;
}

.navbar-toggler-icon {
background-color: black;  }

.popup-collapse{
  background-color: #f1bfc0;
  position: absolute;
  width: 35vw;
  z-index: 3;
  padding: 10px;
  text-align: center;
}

.product-grid{
  margin: auto;
  justify-content: center;
}